<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Banco de alimentos</title>
  <link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.css" />
   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="static/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="static/css/bootstrap-multiselect.css" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="stylesheet" type="text/css" href="static/css/format.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <script src="static/js/index.js"></script>
  <script type="text/javascript" src="static/js/bootsnipp.js"></script>

</head>
<body>
    <div id="container" class="container-fluid">
      <div class="row header">
        <div class="col-xs-2">
          <img src="static/images/logo2.png" class="img-responsive">
        </div>
      </div>

      <!--div class="row filter-button">
        <div></div>
        <div class="col-xs-2">
          <button type="button" class="btn" id="filterBtn">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> FILTRO
          </button>
        </div>
        <!--div class="col-xs-8">

        </div>
      </div>

      <!--div class="row">
        <div class="col-xs-12" id="filterBox">
          <!--
          {%for i in tags %}
            <span class="checkWrapper">
              <label> <input type="checkbox" value="" checked> {{i.name}} </label>
            </span>
          {% endfor %}
        >
        </div>
      </div-->

      <div class="row" id='map-row'>
        <div class="col-xs-12" id="map-column">

          <div class="row">
           <div id="leftMenu">
             <div  id="collapse"><span class="glyphicon glyphicon-minus-sign"></span></div>
              <div id="title">Localiza tu ayuda</div>
              <dl  class="custom-counter" id="custom-counter"></dl>
            </div>
          </div>

          <div class="row">
            <div id="leftMenuMin">
              <div  id="maximize">
                <div>Mostrar Resultados</div>
                <span class="glyphicon glyphicon-plus-sign"></span>
              </div>
            </div>
          </div>
          <input id="pac-input" class="controls" type="text" placeholder="Introduce una dirección">
          <div id="map-div"></div>
          <!--div class="filter-button">
            <button type="button" class="btn" id="filterBtn">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>FILTRO
          </button></div-->

           <!-- Button trigger modal -->
          <div class="filter-button">
            <button type="button" id="filterBtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Filtrar Resultados <span id="tagCounter"> </span>
            </button>
          </div>


        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Filtra los resultados por tipo de ayuda</h4>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12" id='tags-div'>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="filterButton" class="btn btn-primary">Filtrar resultados</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>
